body {
  font-family: Arial, sans-serif;
}

#header {
  background: white;
  color: #FFF;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  background: #AAA;
  border: none;
  border-radius: 10px;
}
button:hover {
  background: #888;
}
button:active {
  background: #555;
}

#dogs {
  width: 100%;
}

#dogs img {
  width: 300px;
  padding: 10px;
  text-align: center;
}
